// color
@use "@variables" as var;
// responsive
@use "@mixin" as mi;

.top {
  display: flex;
  justify-content: center;
  min-width: var.$contentWidthPc;
  padding: 10px 0;

  @include mi.mq {
    min-width: auto;
    padding: 10px 0;
    text-align: center;
  }

  &__inner {
    width: var.$contentWidthPc;

    @include mi.mq {
      width: 100%;
    }
  }
}

.history {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mi.mq {
    flex-direction: column;
    align-items: center;
  }

  &__line {
    margin-top: 40px;
  }
}

.temperature {
  width: 100%;

  @include mi.mq {
    width: 95%;
  }
}

.humidity {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;

  @include mi.mq {
    width: 95%;
    margin-left: 0;
    margin-top: 100px;
  }
}
