@use "@variables" as var;
@use "@mixin" as mi;

.mv {
  display: flex;
  justify-content: center;
  min-width: var.$contentWidthPc;
  background: #F4F7F1;
  height: 870px;

  @include mi.mq {
    min-width: auto;
    height: mi.getvw(336);
  }

  &__bgArea {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-width: var.$contentWidthPc;
    max-width: 1920px;
    height: 100%;
    background: center / cover no-repeat url('/mv.jpg');

    @include mi.mq {
      width: 100%;
      min-width: auto;
      background: center / cover no-repeat url('/mv.jpg');
    }
  }

  &__inner {
    width: var.$contentWidthPc;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include mi.mq {
      display: block;
      padding: 12px 10px 0;
    }
  }

  &__text {
    width: 400px;
    margin-top: 100px;

    @include mi.mq {
      width: 100%;
      padding: 0 10px;
      margin: 40px auto 0;
    }
  }

  &__textDetail {
    margin-top: 40px;
    font-size: 35px;
    font-weight: bold;
    color: var.$themeRealBlack;
  }

  &__textDetailS {
    margin-top: 20px;
    font-size: 20px;
    color: var.$themeDarkGray;
    line-height: 1.5;
  }

  &__form {
    position: absolute;
    top: 10px;
    right: 0;

    @include mi.mq {
      display: none;
    }
  }
}

.introduction {
  display: flex;
  justify-content: center;
  min-width: var.$contentWidthPc;
  padding: 60px 0;

  &__inner {
    width: var.$contentWidthPc;
  }

  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;
    width: 300px;
  }

  &__item {
    margin-left: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.5;
  }

  &__text {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
  }
}
