@use "@variables" as var;
@use "@mixin" as mi;

.notifi {
  display: flex;
  justify-content: center;
  min-width: var.$contentWidthPc;

  @include mi.mq {
    min-width: auto;
    text-align: center;
  }

  &__inner {
    width: var.$contentWidthPc;

    @include mi.mq {
      width: 100%;
    }
  }

  &__menu {
    margin-top: 24px;
    display: flex;
    justify-content: flex-start;

    @include mi.mq {
      justify-content: center;
    }
  }

  &__menuButton {
    border: none;
    border-right: 1px solid var.$themeWhite;
    cursor: pointer;
    padding: 10px 32px;
    background-color: var.$themePaleOrange;

    &:hover {
      background-color: var.$themeOrange;
    }
  }
  
  &__read {
    background-color: var.$themeOrange;
  }

  &__history {
    width: 900px;
    height: 500px;
    overflow: auto;
    margin-top: 50px;

    @include mi.mq {
      width: 350px;
      height: 450px;
    }
  }

  &__item {
    padding: 10px;
    border-bottom: 1px solid var.$themeGray;
    cursor: pointer;
  }

  &__itemInfo {
    display: flex;
    align-items: center;
  }

  &__itemDate {
    text-align: left;
    font-size: 16px;
    color: var.$themeDarkGray;
    line-height: 1.5;
  }

  &__itemType {
    font-size: 14px;
    color: var.$themeBlack;
    margin-right: 20px;
    padding: 10px;
    border-radius: 6px;
  }

  &__itemType--alarm {
    background: var.$themePink;
  }

  &__itemType--snooze {
    background: var.$themePaleOrange;
  }

  &__itemType--out {
    background: var.$themePaleBlue;
  }

  &__itemContent {
    text-align: left;
    font-size: 18px;
    color: var.$themeBlack;
    line-height: 1.5;
    margin-top: 10px;

    @include mi.mq {
      width: 330px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__itemRead {
    font-weight: bold;
  }
}
