@use "@variables" as var;
@use "@mixin" as mi;

.top {
    display: flex;
    justify-content: center;
    min-width: var.$contentWidthPc;
  
    @include mi.mq {
      min-width: auto;
      text-align: center;
    }
  
    &__inner {
      width: var.$contentWidthPc;
  
      @include mi.mq {
        width: 100%;
      }
    }

    &__contents {
      margin-top: 30px;
      text-align: left;
      display: flex;
      justify-content: center;

      @include mi.mq {
        padding: 0 10px;
      }
    }
  }

  .device {
    display: flex;
    justify-content: center;
    min-width: var.$contentWidthPc;
    height: 70vh;
  
    @include mi.mq {
      min-width: auto;
      text-align: center;
      height: 78vh;
    }
  
    &__inner {
      width: var.$contentWidthPc;
      display: flex;
      justify-content: center;
  
      @include mi.mq {
        width: 100%;
      }
    }
}

  .select_device {
    margin-top: 30px;

    &__heading {
      font-size: 20px;
      text-align: center;
    }

    &__menu {
      margin-top: 10px;
      width: 250px;
      padding: 10px 0 10px 10px;
    }

    &__button {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }

  .user_settings{
    &__heading {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__button {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  .change {
    display: flex;
    justify-content: center;
    min-width: var.$contentWidthPc;
  
    @include mi.mq {
      min-width: auto;
      text-align: center;
    }
  
    &__inner {
      width: var.$contentWidthPc;
      display: flex;
      justify-content: center;
  
      @include mi.mq {
        width: 100%;
      }
    }

    &__heading {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__contents {
      width: 400px;
      text-align: left;
    }

    &__button {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
 
  @keyframes updating {
    from {opacity: 0;}
    to {opacity: 100;}
  }
  
  .settings_updated {
    animation-name: updating;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  .loading {
    animation-name: updating;
    animation-duration: 500ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
