@use "@variables" as var;
@use "@mixin" as mi;

.signup {
  &__text {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
  }

  &__field {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
}
