@use "@variables" as var;
@use "@mixin" as mi;

.alarm-button {
  border: 1px solid var.$themeGray;
  cursor: pointer;
  background-color: var.$themeDarkPink;
  font-size: 24px;
  font-weight: bold;
  padding: 42px 24px;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 10px;
}

.alarm-button:hover {
  background-color: var.$themeDarkerPink;
}

.top {
  display: flex;
  justify-content: center;
  min-width: var.$contentWidthPc;
  padding: 10px 0;

  @include mi.mq {
    min-width: auto;
    padding: 10px 0;
    text-align: center;
  }

  &__inner {
    width: var.$contentWidthPc;

    @include mi.mq {
      width: 100%;
    }
  }

  &__weather {
    border: 1px solid var.$themeGray;
    border-radius: 10px;
    padding: 10px;
    background-color: var.$themePaleBlue;
    font-size: 18px;
    color: var.$themeRealBlack;
    line-height: 1.5;

    @include mi.mq {
      font-size: 16px;
      text-align: left;
    }
  }

  &__livedata {
    margin-top: 40px;
    color: var.$themeBlack;
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    padding: 80px 0 200px;

    @include mi.mq {
      font-size: 18px;
      padding: 60px 20px;
      text-align: left;
    }
  }
}
