@use "@variables" as var;
@use "@mixin" as mi;

.hamburger {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;

  &__line {
    position: relative;
    width: 28px;
    height: 4px;
    background-color: var.$themeDarkOrange;
    transition: background-color 0.2s;

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 28px;
      height: 4px;
      content: '';
      background: var.$themeDarkOrange;
      transition: transform 0.2s, top 0.2s;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }

    &--active {
      background-color: transparent;

      &::before {
        top: 0;
        transform: rotate(135deg);
      }
      &::after {
        top: 0;
        transform: rotate(-135deg);
      }
    }
  }

  &__content {
    background-color: var.$themeWhiteGray;
  }
}
