@use "@variables" as var;
@use "@mixin" as mi;

.weather {
  display: flex;
  align-items: center;

  &__location {
    font-size: 20px;
    font-weight: bold;
    color: var.$themeBlack;
  }

  &__date {
    font-size: 20px;
    font-weight: bold;
    color: var.$themeBlack;
    margin-left: 10px;
  }

  &__temperature {
    font-size: 20px;
    font-weight: bold;
    color: var.$themeBlack;
    margin-left: 10px;
  }

  &__humidity {
    font-size: 20px;
    font-weight: bold;
    color: var.$themeBlack;
    margin-left: 10px;
  }
}
