@use "variables" as var;
@use "mixin" as mi;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, 'Noto Sans', sans-serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  color: var.$themeBlack;
  background: var.$themeWhite;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
  line-height: 1;
}

main {
  padding-top: 140px;

  @include mi.mq {
    padding: 0 10px;
  }
}

.main--lp {
  padding-top: 0;

  @include mi.mq {
    padding: 0;
  }
}
