// variables

// breakpoint
$breakpoints: (
  sp: 'screen and (max-width: 900px)',
);

// z-index
$z-header: 100;
$z-dialogModal: 1000;

// color
$themeWhite: #fff;
$themeBlack: #2a395c;
$themeDarkGray: #666666;
$themeGray: #dcdcdc;
$themeOrange: #ffdba4;
$themePaleOrange: #fff2de;

// width
$contentWidthPc: 960px;
$maxWidthPc: 1280px;
