// variables

// breakpoint
$breakpoints: (
  sp: "screen and (max-width: 900px)",
);

// z-index
$z-header: 100;
$z-dialogModal: 1000;

// color
$themeWhite: #fff;
$themeBlack: #2a395c;
$themeRealBlack: #000;
$themeDarkGray: #666666;
$themeGray: #dcdcdc;
$themeWhiteGray: #f5f5f5;
$themeOrange: #ffdba4;
$themeDarkOrange: #dc8d16;
$themePaleOrange: #fff2de;
$themePaleBlue: #cce4ff;
$themePink: #ffdede;
$themeDarkPink: #ff7e7e;
$themeDarkerPink: #fb6464;

// width
$contentWidthPc: 960px;
$maxWidthPc: 1280px;
